<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Тестовое задание для Stroyportal.ru</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="top-head">
		<div class="container flex-top">
			<div class="addr">
				<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13 6.6909C13 11.2727 7 15.2 7 15.2C7 15.2 1 11.2727 1 6.6909C1 5.12853 1.63214 3.63015 2.75736 2.52539C3.88258 1.42064 5.4087 0.799988 7 0.799988C8.5913 0.799988 10.1174 1.42064 11.2426 2.52539C12.3679 3.63015 13 5.12853 13 6.6909Z" stroke="#708598" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M6.99988 8.65481C8.10445 8.65481 8.99988 7.77566 8.99988 6.69118C8.99988 5.60669 8.10445 4.72754 6.99988 4.72754C5.89531 4.72754 4.99988 5.60669 4.99988 6.69118C4.99988 7.77566 5.89531 8.65481 6.99988 8.65481Z" stroke="#708598" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<address>Волгоградская область</address>
			</div>

			<div class="top-menu">
				<ul>
					<li><a href="#">Тендеры</a></li>
					<li><a href="#">База подрядчиков</a></li>
					<li>
						<a href="#">Другие сервисы 
							<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.5 0.75L5 5.25L9.5 0.75" stroke="#708598" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</a>
						<ul>
							<li></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<header>
		<div class="container flex-head">
			<div class="logo">
				<a href="#"><img src="img/logo.png" alt></a>
			</div>
			<div class="catalog">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.5 10H17.5" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M2.5 5H17.5" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M2.5 15H17.5" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<p><a href="#">Каталог</a></p>
			</div>
			<div class="search">
				
			
				<div id="app">
				<div class="container-item">
			    <autocomplete  placeholder="Хочу найти..." />
			   </div></div>
				
				<div class="search-icon">
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z" stroke="#708598" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M17.5 17.5L13.875 13.875" stroke="#708598" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>		
			</div>
			<div class="list">
				<svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15 4H3C2.46957 4 1.96086 4.21071 1.58579 4.58579C1.21071 4.96086 1 5.46957 1 6V22C1 22.5304 1.21071 23.0391 1.58579 23.4142C1.96086 23.7893 2.46957 24 3 24H15C15.5304 24 16.0391 23.7893 16.4142 23.4142C16.7893 23.0391 17 22.5304 17 22L17 6C17 4.89543 16.1046 4 15 4V4Z" stroke="#708598" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M12.9999 14.0005H4.99988" stroke="#708598" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M12.9999 18H4.99988" stroke="#708598" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M9.99988 10H7.49988H4.99988" stroke="#708598" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<circle cx="16" cy="5" r="4" fill="#E92F2F" stroke="#FAFBFC" stroke-width="2"/>
				</svg>
				<p><a href="#">Список</a></p>
			</div>
			<div class="userpic">
				<span>A</span>
			</div>	
		</div>
	</header>
<!-- partial:index.partial.html -->
<script type="text/x-template" id="autocomplete-tpl">
    <div class="autocomplete">
      <label :for="id">{{label}}</label>
      <textarea v-if="textarea" :id="id" :rows="rows" :cols="cols" class="autocomplete-input" :placeholder="placeholder" @focusout="focusout" @focus="focus" @keydown.13="chooseItem" @keydown.tab="chooseItem" @keydown.40="moveDown" @keydown.38="moveUp" v-model="inputValue"
        type="text"></textarea>
      <input v-else :id="id" class="autocomplete-input" :placeholder="placeholder" @focusout="focusout" @focus="focus" @keydown.13="chooseItem" @keydown.tab="chooseItem" @keydown.40="moveDown" @keydown.38="moveUp" v-model="inputValue" type="text">


      <ul :class="{
        'autocomplete-list': true,
        [id+'-list']: true
      }" v-if="searchMatch.length > 0">
        <li :class="{active: selectedIndex === index}" v-for="(result, index) in searchMatch" @click="selectItem(index), chooseItem()" v-html="highlightWord(result)">

        </li>
      </ul>
    </div>
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js'></script><script  src="js/script.js"></script>
</body>
</html>